/* Main Stylings */
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  color: rgb(57, 60, 66);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4rem;
}

h1 {
  color: rgb(57, 60, 66);
  font-weight: bold;
  font-size: 2.5rem;
  line-height: normal;
}

h2 {
  color: rgb(57, 60, 66);
  font-weight: bold;
  font-size: 1.2rem;
}

p,
span {
  color: rgb(57, 60, 66);
  font-weight: lighter;
  font-size: 1rem;
}

a {
  color: dodgerblue;

}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



/* Header */

header {
  background-color: white;
  height: 64px;
  width: 100%;
  align-items: center;
}

header img {
  padding-left: 24px;
  height: 60%;
}

.logo1 {
  font-weight: bold;
}

.logo1,
.logo2 {
  font-size: 1.5rem;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 24px;
}

nav span {
  display: inline-block;

  padding-left: 16px;
}

@media only screen and (max-width: 680px) {
  nav span {
    display: none;
  }
}


/* Banner */

.banner {
  background-color: silver;
  width: 100%;
  padding: 32px 24px;
  display: flex;
}

.banner img {
  width: 60%;
  height: auto;
}

.banner-content{
  margin-left: 24px;
  width: 30%;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
}

.banner-content h2 {
  font-weight: normal;
  padding: 32px 0 24px 0;
}

.button {
  color: white;
  background-color: gray;
  padding: 8px 30px;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .banner {
    padding: 0;
    display: block;
  }

  .banner img {
    width: 100%;
    height: auto;
  }

  .banner-content{
    padding: 32px 16px;
    width: 100%;
  }

  .button {
    width: 50%;
  }
}



/* Keep Practicing */

.keep-practicing {
  width: 100%;
  background-color: white;
  padding: 32px 0;
  display: flex;
}

.large-section {
  width: 60%;
  padding: 0 0 0 24px;
}

.large-section img {
  width: 100%;
}

.large-section h1 {
  padding: 32px 0 24px 0;
}

.large-section p {
  padding-right: 24px;
}

.sidebar-section {
  width: 39%;
  border-left: 1px solid silver;
  height: 100%;
  margin-left: 24px;
}

.sidebar {
  padding: 16px;
  display: flex;
  border: 1px solid silver;
}

.sidebar img {
  height: auto;
  width: 35%;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  justify-content: center;
  width: 65%;
}

.content h2 {
  padding-bottom: 8px;
}

.content p {
  padding-bottom: 8px;
}

.gray {
  background-color: silver;
}

.mobile-sidebar-section {
  display: none;
}

.mobile-sidebar {
  padding: 16px;
  display: inline-block;
}

.mobile-sidebar img {
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .keep-practicing {
    padding: 16px 0;
  }

  .large-section {
    display: none;
  }

  .sidebar-section {
    display: none;
  }

  .mobile-sidebar-section {
    display: block;
    width: 100%;
  }

  .content h2 {
    padding-top: 16px;
  }



}


/* Start Learning */

.start-learning {
  background-color: silver;
  width: 100%;
  padding: 32px 60px;
}

.start-learning h1 {
  text-align: center;
  padding-bottom: 32px;
}

.course {
  padding: 32px;
}

.course img{
  height: 200px;
  width: 300px;
  display: block;
}

.course-info {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  justify-content: center;
  text-align: left;
  padding: 16px 16px 24px 16px;
}

.course-info h2 {
  padding-bottom: 8px;
}

.course-info p{
  padding-bottom: 8px;
}

@media only screen and (max-width: 550px) {
  .start-learning {
    background-color: white;
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
  }

  .course {
    padding: 0;
    margin: 0;
  }

  .course-info h2 {
    background-color: silver;
    padding: 16px 16px 16px 16px;
  }

  .course img {
    display: none;
  }

  .course-info {
    padding: 8px;
  }

  .course-info p {
    display: none;
  }

}


/* Thesis Exhibit */

.thesis-exhibit {
  background-color: white;
  width: 100%;
  padding: 32px 0 32px 24px;
  display: flex;

}

.thesis-exhibit h1 {
  text-align: center;
  padding-bottom: 32px;
}

.large-section2 {
  width: 60%;
  padding: 0 24px;
}

.thesis-exhibit video {
  width: 100%;
}

#justify {
  text-align: left;
  padding: 24px 0 8px 0;
}

.logo {
  text-align: center;
  padding-top: 32px;
}

@media only screen and (max-width: 550px) {
  .thesis-exhibit {
    padding: 32px 0;
  }

  .thesis-exhibit .large-section2 {
    width: 100%;
    padding: 0;
  }

  .thesis-exhibit .sidebar-section {
    display: none;
  }

  .large-section-info {
    display: none;
  }

}


/* Footer */
footer {
  padding: 16px 24px;
  border-top: 1px silver solid;
}

@media only screen and (max-width: 550px) {
  footer span {
    display: none;
  }

}
